@font-face {
    font-family: 'Cera Round Pro';
    src: url('img/font/regular.otf') format('opentype'),
        url('img/font/medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #fff;
    --red: #ff4d4d;
    --red-hover: #eb4444;
    --nav-bg: #f4f9ff;
    --card-bg: #f8f9fa;
    --border-card: #e0e0e0;
    --text-color: #333;
    --sub-text-color: #575a5e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #0e0f10;
        --red: #d03c3c;
        --red-hover: #a72121;
        --nav-bg: #101213;
        --card-bg: #101314;
        --border-card: #2a2d2f;
        --text-color: #bdbbb8;
        --sub-text-color: #83817e;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--red-hover);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Cera Round Pro', 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.copy {
    color: var(--text-color);
}

.navbar {
    border-bottom: 2px solid var(--red);
    background-color: var(--nav-bg);
    border-radius: 8px;
    margin-bottom: -10px;
}

.navbar-brand,
.nav-link {
    margin-bottom: 0px;
    color: var(--red) !important;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--red-hover);
}

.addon-card {
    margin: 15px;
    background: var(--card-bg);
    border: 1px solid var(--border-card);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 8px;
    flex: 1;
    min-width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addon-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.hero {
    background-image: linear-gradient(to bottom, rgba(162, 22, 22, 0.3), rgba(52, 14, 14, 0.1)), url('/img/banner.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 100px 0;
}

.addon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.strong {
    font-weight: bold;
}

.un-strong {
    font-weight: normal;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.form-check {
    padding-top: 5px;
}

.form-control:disabled {
    background-color: var(--bg-color);
    color: var(--sub-text-color);
}

.addon-description {
    color: var(--sub-text-color) !important;
}

#addonSearchBar {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    border: 1px solid var(--border-card);
}

#addonSearchBar::placeholder {
    color: var(--sub-text-color) !important;
    opacity: 0.7;
}

@media (max-width: 768px) {
    .addon-card {
        margin: 10px;
        flex: 0 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .addon-card {
        flex: 0 1 calc(100% - 20px);
    }
}